//Font Family

$quicksand:'Quicksand', sans-serif;

// colors

$orange: #ffa500;
$off-white: #f8f8f8;
$white: #fff;
$off-black: #333;
$green: #57b846;
$red: #ea4355;
$blue: #1da1f2;

// Sizes

$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

//Button Radius
$button-radius: 30px;


//Breakpoints
$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;
